#servicesReviewCard {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.726)),
      url("../../assets/8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }
  #servicesReviewCard01 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.61)),
      url("../../assets/servicesRolling2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }
  #servicesReviewCard02 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.5)),
      url("../../assets/servicesRolling3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    padding: 15px;
  }
  #servicesReviewCard03 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.5)),
      url("../../assets/servicesRolling1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }
  #servicesReviewCardInner {
    max-width: 1000px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }
  #servicesReviewCardInner h1 {
    background: -webkit-linear-gradient(0deg, #4596C9, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: start;
  }
  #servicesReviewCardInner p {
    color: antiquewhite;
  }
  #servicesReviewCardInner button {
    margin-top: 20px;
    padding: 12px 40px;
    border: none;
    background-color: #4596C9;
    color: #d29968;
    border-radius: 5px;
    border: 2px solid antiquewhite;
}

#servicePage{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.5)),
      url("../../assets/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#servicePageBox h2{
    color: antiquewhite;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#serviceWrap h4{
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

#serviceBoxCard{
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 3px 11px #4596C9
}
#serviceBoxCard img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#serviceBoxCard h5{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
#serviceBoxCard p{
    text-align: center;
    margin: 10px;
  color: gray;
  
}



#theParterPageSection{
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #9f9e9e23;
}
#theParterPageSection h2{
    text-align: center;
    background-image: linear-gradient(to top, #2079e0, #54b9ed);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#partnerCard{
    width: 100%;
    height: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  
    border-radius: 20px;
}
#partnerCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   border-radius: 20px;
   filter: brightness(80%);
}
#partnerCardBox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    border: 1px solid #4E93BF;
    cursor: pointer;
}
#partnerCardBox:hover{
    background-color: #4E93BF;
}
#partnerCardBox i{
 color: grey;
}
#partnerCardBox p{
    color: grey;
    text-align: start;
    line-height: 1.8rem;
}
#partnerCardBox small{
    color: #2079e0;
    font-family: 'Montserrat', sans-serif;
}